 /***PAGINA:AUTOS***/

 
 /*SERIE ESTANDAR*/

 .serie__estandar {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   .title__series {
      text-align: center;
      margin-top: var(--sp-xl);
      font-size: var(--text-lg);
   }

   .serie__estandar__catalogo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: var(--sp-xl);
      padding-top: var(--sp-xl);
      padding-bottom: var(--sp-xl);
      border-top: 0.05em solid var(--yellow);

      .columna__1 {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 0.5rem;
         width: 35em;
         height: 15em;
         margin-bottom: 25em;

         .logo__autos {
            padding-top: 1em;

            .img__logo__autos {
               width: 64em;
               height: 8.5em;
            }
         }

         .texto__autos {
            padding-top: 7em;

            .texto__1 {
               padding: 2rem;
            }
         } 
      }

      .img__autos {

         .img__series__auto {
            width: 57.2em;
            height: 37.9em;

            &:hover {
               transform: scale(1.1, 1.1);
               transition: all 2s;
            }
         }
      }
   }
}

/*SERIE ESPECIAL E ICONICA*/

.serie__especial__iconica {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: var(--white);
   color: var(--grey_dark);

   .title__series {
      text-align: center;
      margin-top: var(--sp-xl);
      font-size: var(--text-lg);
   }

   .serie__especial__iconica__catalogo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: var(--sp-xl);
      padding-top: var(--sp-xl);
      padding-bottom: var(--sp-xl);
      border-top: 0.05em solid var(--red);

      .columna__1 {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 0.5rem;
         width: 35em;
         height: 15em;
         margin-bottom: 25em;

         .logo__autos {
            padding-top: 1em;

            .img__logo__autos__especial__iconica {
               width: 44em;
               height: 8.5em;
            }
         }  
      .texto__autos {
         padding-top: 7em;
      
         .texto__1 {
            padding: 2rem;
         }
      } 
   }

   .img__autos {

      .img__series__auto {
         width: 57.2em;
         height: 37.9em;
      
         &:hover {
            transform: scale(1.1, 1.1);
            transition: all 2s;
            }
         }
      }
   }
}