/***PAGINA:SERVICIO***/

.info__servicio {
    .title__servicio {
        text-align: center;
        border-top: 0.05em solid var(--red);
        margin: var(--sp-xl);
        padding: var(--sp-xl);
        font-size: var(--text-md);
    }
    
    .parrafo_1_servicio {
        text-align: center;
        border-top: 0.05em solid var(--red);
        margin: var(--sp-xl);
        padding: var(--sp-xl);
        font-size: var(--text-md);
    }
    
    .parrafo_2_servicio {
        text-align: center;
        border-bottom: 0.05em solid var(--red);
        margin: var(--sp-xl);
        padding: var(--sp-xl);
        font-size: var(--text-md);
    }
    
    .parrafo_3_servicio {
        text-align: center;
        padding-bottom: var(--sp-xl);
        border-top: 0.05em solid var(--red);
        margin: var(--sp-xl);
        padding: var(--sp-xl);
        font-size: var(--text-md);
    }

    .box__img__servicio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .img__servicio {
            width: 55em;
            height: 38em;
            padding: var(--sp-sm);

            &:hover {
                transform: scale(1.1, 1.1);
                transition: all 2s;
            }
        }
    }
}

.contacto__servicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10em;
    border-bottom: 0.05em solid var(--yellow);

    .form-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        padding: 3em;

        .form-control {
            color: var(--white);
            background-color: transparent;
            border: none;
            border-bottom: 0.05em solid var(--yellow);
            width: 35em;
            margin-top: var(--sp-md);
            margin-bottom: var(--sp-md);
            resize: none;

            &::placeholder {
                color: var(--white);
                font-size: 1.5rem;  
            }

            &:focus {
                background-color: transparent;
                color: var(--white);
                border-bottom: 0.05em solid var(--yellow);
                font-size: 1.5rem;
            }
        }

        .control-label {
            text-align: center;
            font-size: 1.5rem;
        }

        .boton {
            background-color: transparent;
            border: none;
            width: 10em;
            height: 3em;
            font-size: 1.5rem;
            color: var(--yellow);
            transition: all .3s ease-in-out;

            &:hover {
                background-color: var(--yellow);
                color: var(--grey_dark);
            }
        }
    }

    .select {
        select {
            option {
                color: var(--white);
                background-color: var(--grey_dark);
            }
        }
    }
}